@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
  font-family: 'Krona One', sans-serif;
  font-size: medium;
}
body{
  
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.container{
  
  width: 500px;
 
}
.keypad{
display: grid;
height: 400px;


grid-template-columns: auto auto auto auto;
background-color: black;

border-style: solid;
  border-color: black;
}

input{
  color:white;
  width: 470px;
  height: 70px;
  border-style: solid;
  border-color: black;
  background-color: rgb(24, 23, 23);
}

#result{
  
  grid-column: 3/5;
  grid-row: 5;
}